---

---

<!DOCTYPE html>
<html dir=rtl lang="fa">

    <!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
    <!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
    <!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
    
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<link rel="stylesheet" type="text/css" href="/assets/style/normalize.css">
		<link rel="stylesheet" type="text/css" href="/assets/style/skeleton.css">
		<link rel="stylesheet" type="text/css" href="/assets/style/main.css">
		<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/css/gpgc_styles.css">
		  
		<link rel="shortcut icon" href="/assets/img/favicon.ico" >
		<title> {{ site.title }} </title>
		
		<script src="/assets/script/moment.min.js"></script>
		<script src="/assets/script/moment-jalali.js"></script>

	</head>
	<body>
		<nav id="nav-up" >
			<section id="nav-up-left">
				<div class="nav-up-items"><a href="{{ site.url }}/about">درباره من</a></div>
				<div class="nav-up-items"><a href="{{ site.url }}/contact-me">تماس با من</a></div>
			</section>
			<div id="cover">
				<section id="site-title"><a href="{{ site.url }}"><i class="fa fa-space-shuttle"></i>&nbsp;<span>میگیم</span></a></section>
				<section id="site-discription"><span>از دیدگاهی شاید متفاوت</span></section>
			</div>
		</nav>





	<div class="container">
		<div class="row">
			<div class="four columns">
				{% for post in site.posts %}
					<div class="sidebar">
						<a target="_blank" href="{{ post.url }}"><div class="archive-post">{{ post.title }}<br>
						    <div class="date">
							    <span>
								<i class="fa fa-clock-o"></i>
								<script>
								    moment.loadPersian();
								    var date = moment('{{ post.date }}', 'YYYY-M-D').format('dddd jD jMMMM jYYYY');
								    document.write(date);

								</script>
							    </span>
						    </div>
						</div></a>
					</div>
				{% endfor %}
			</div>
			<div class="eight columns">
				    {% for post in paginator.posts %}
				<div class="post-container">
				    <div class="post-title"><h2><a href="{{ post.url }}">{{ post.title }}</a></h2></div>
				    <div class="date">
					    <span>
						<i class="fa fa-clock-o"></i>
						<script>
						    moment.loadPersian();
						    var date = moment('{{ post.date }}', 'YYYY-M-D').format('dddd jD jMMMM jYYYY');
						    document.write(date);

						</script>
					    </span>
				    </div>
				    <br> {{ post.excerpt }} <br> 
				    
				    <section class="continue">
					    <span ><a href="{{ post.url }}"><button class="button-primary">ادامه مطلب</button></a></span>
				    </section>
				</div>
				    <br>
				    {% endfor %}
			</div>
		</div>
	    <div class="pagination">
		  {% if paginator.previous_page %}
		    <a href="{{ paginator.previous_page_path }}" class="previous">قبلی</a>
		  {% else %}
		    <span class="previous">قبلی</span>
		  {% endif %}
		  <span class="page_number ">صفحه: {{ paginator.page }} از {{ paginator.total_pages }}</span>
		  {% if paginator.next_page %}
		    <a href="{{ paginator.next_page_path }}" class="next">بعدی</a>
		  {% else %}
		    <span class="next ">بعدی</span>
		  {% endif %}
	    
	</div>
		<div id="footer">
			{% include footer.html %}
		</div>
				
	</body>
    
</html>


