<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css" href="/assets/style/normalize.css">
<link rel="stylesheet" type="text/css" href="/assets/style/skeleton.css">
<link rel="stylesheet" type="text/css" href="/assets/style/main.css">
<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/public/css/gpgc_styles.css">
  
<link rel="shortcut icon" href="/assets/img/favicon.ico" >
<title> {{ site.title }} </title>

<script src="/assets/script/moment.min.js"></script>
<script src="/assets/script/moment-jalali.js"></script>

{% seo %}
