<nav id="nav-up" >

    <section id="nav-up-right">


        <div class="nav-up-items"><a href="{{ site.url }}/about">درباره من</a></div>
        <div class="nav-up-items"><a href="{{ site.url }}/contact-me">تماس با من</a></div>

    </section>

    <section id="nav-up-left">
        <div class="rss"><a href="{{ site.url }}/feed.xml"><i class="fa fa-rss"></i></a></div>
    </section>

</nav>

<div id="cover" style="background-image: url('{{ page.cover }}')">
    <section id="site-title"><a href="{{ site.url }}"><img src="/assets/img/migim-brand.png"></a></section>
    <section id="site-description">به وسعت آسمان و با آرامش طبیعت</section>
</div>

<div class="container">
	<div class="row">
		<div class="nine column">
		    {% for post in site.posts %}
		    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		    <br> {{ post.excerpt }} <br> 
		    
		    <section class="continue">
			<span class="continue-link"><a href="{{ post.url }}">ادامه مطلب</a></span>
		    </section>
		    <br>
		    {% endfor %}
		</div>
	</div>
</div>
