
		<nav id="nav-up" >
			<section id="nav-up-left">
				<div class="nav-up-items"><a href="{{ site.url }}/about">درباره من</a></div>
				<div class="nav-up-items"><a href="{{ site.url }}/contact-me">تماس با من</a></div>
				<div class="nav-up-items feed"><a href="{{ site.url }}/feed"><i class="fa fa-rss-square"></i></a></div>
			</section>
			<div id="cover">
				<section id="site-title"><a href="{{ site.url }}"><i class="fa fa-space-shuttle"></i>&nbsp;<span>میگیم</span></a></section>
				<section id="site-discription"><span>از دیدگاهی شاید متفاوت</span></section>
			</div>
		</nav>


		<div class="category-nav">
			<div class="container">
				<div class="row">
					<div class="three columns">
						<div class="category-item">
							<a href="/category/design.html">
							<i class="fa fa-pencil"></i>	
							طراحی
							</a>
						</div>
					</div>
					<div class="two columns">
						<div class="category-item">
							<a href="/category/linux.html">
							<i class="fa fa-linux"></i>
							لینوکس
							</a>
						</div>
					</div>
					<div class="two columns">
						<div class="category-item">
							<a href="/category/photo.html">
							<i class="fa fa-camera-retro"></i>
							عکاسی
							</a>
						</div>
					</div>
					<div class="two columns">
						<div class="category-item">
							<a href="/category/programming.html">
								<i class="fa fa-barcode"></i>
								برنامه‌نویسی
							</a>
						</div>
					</div>
					<div class="two columns">
						<div class="category-item">
							<a href="/category/personal.html">
								<i class="fa fa-book"></i>
							شخصی
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

<div class="container">
	<div class="row">
		<div class="nine column">
			<div class="post-container">
				<div class="post-title"><h2><a href="{{ page.url }}">{{ page.title }}</a></h2></div>
				    <div class="date">
					<i class="fa fa-clock-o"></i>
					<script>
					    moment.loadPersian();
					    var date = moment('{{ page.date }}', 'YYYY-M-D').format('dddd jD jMMMM jYY');
					    document.write(date);

					</script>
				    </div>
			    <br>
			    <p>{{ page.content }}</p>
			    <br>
				 <div class="post-categories">
					  {% if post %}
					    {% assign tagies = post.tags %}
					  {% else %}
					    {% assign tagies = page.tags %}
					  {% endif %}
					  {% for tag in tagies %}
					  <a href="{{site.baseurl}}/tags/#{{tag|slugize}}"><i class="fa fa-tag" ></i>  {{tag}}</a>
					  {% unless forloop.last %}&nbsp;{% endunless %}
					  {% endfor %}
				</div>
			</div>
		</div>
    	</div>
</div>
