@font-face { font-family: Gandom;
    src: url('../font/gandom/Gandom.eot') format('eot'),
    url('../font/gandom/Gandom.woff') format('woff'),
    url('../font/gandom/Gandom.ttf') format('truetype');
}

@font-face { font-family: Lalezar;
    src: url('../font/lalezar/Lalezar-Regular.eot') format('eot'),
    url('../font/lalezar/Lalezar-Regular.woff') format('woff'),
    url('../font/lalezar/Lalezar-Regular.ttf') format('truetype');
}

body {
	background-color: #EEE;
}

.row img {
	max-width: 90%;
	display: block;
	margin: 10px auto 5px;
}

.row p {
	font-size: 18px;
	color: #5b5b5b;
}

p, .date, .pagination, #cover, #nav-up {
	font-family: Gandom, sans-serif;
}

blockquote {
	width: 100%;
	display: block;
	margin: 5px auto;
	
}

blockquote p {
    color: black;
    text-align: center;
    display: inline-block;
    background: #eee;
    border-radius: 10px;
    padding: 5px;
    color: rgba(0,0,0,0.7);
    font-family: Gandom, sans-serif;
    margin-bottom: 0px;
}

.date {
	color: #AEAEAE;
}

.date span {
	padding: 0 5px;
}

.post-title {
	font-weight: bolder;
	border-bottom: 1px dotted #0EAEDB;
	font-family: Lalezar, serif;
	margin-bottom: 5px;
}

.post-title a {
	text-decoration: none;
     	transition: all 300ms ease-in, all 300ms ease-out;
}

.post-container {
	background-color: white;
	padding: 30px;
	box-shadow: 5px 5px 3px #ddd;
	border-radius: 1px;
}

.button-primary {
	font-family: Lalezar, sans-serif;
}

#nav-up {
	background-color: #ddd;
	overflow: hidden;
	margin-bottom: 20px;
	box-shadow: 5px 0 3px #444;
	padding: 10px 10px;
	box-sizing: border-box;
}

#nav-up-left {
	display: inline-block;
	float: left;
	position: relative;
	top: 7px;
}

.nav-up-items {
	display: inline-block;
}

.nav-up-items a {
	text-decoration: none;
	padding: 10px;
     	transition: all 300ms ease-in, all 300ms ease-out;
}

.nav-up-items a:hover {
	background-color: #33C3F0;
	color: white;
}

#cover {
	display: inline-block;
	float: right;
	padding: auto 10px;
}

#cover #site-title {
	display: inline-block;
	margin-left: 25px;
	font-size: 25px;
	font-family: Lalezar, sans-serif;
}

#cover #site-title a {
	text-decoration: none;
}

#cover #site-discription {
	display: inline-block;
}

@media only screen and ( max-width: 469px ) {
	#cover #site-discription {
		display: none;
	}
}

@media only screen and ( max-width: 307px ) {
	#cover {
		display: block;
		text-align: center;
	}
	#nav-up-left {
		display: block;
		text-align: center;
	}
	display: inline-block;
	float: left;
	position: relative;
	top: 7px;
}

.nav-up-items {
	display: inline-block;
}

.nav-up-items a {
	text-decoration: none;
	padding: 10px;
     	transition: all 300ms ease-in, all 300ms ease-out;
}

.nav-up-items a:hover {
	background-color: #33C3F0;
	color: white;
	border-radius: 2px;
}

#cover {
	display: inline-block;
	float: right;
	padding: auto 10px;
}

#cover #site-title {
	display: inline-block;
	margin-left: 25px;
	font-size: 25px;
	font-family: Lalezar, sans-serif;
}

#cover #site-title a {
	text-decoration: none;
}

#cover #site-discription {
	display: inline-block;
}

@media only screen and ( max-width: 469px ) {
	#cover #site-discription {
		display: none;
	}
}

@media only screen and ( max-width: 307px ) {
	#cover {
		display: block;
	}
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}

.archive-post {

	padding: 5px 10px;
	background: linear-gradient(to left, #16222a, #3a6073);
	margin-bottom: 7px;
	border-radius: 3px;
}

.sidebar a {
	text-decoration: none;
	color: white;
}
