@font-face { font-family: Gandom;
    src: url('../font/gandom/Gandom.eot') format('eot'),
    url('../font/gandom/Gandom.woff') format('woff'),
    url('../font/gandom/Gandom.ttf') format('truetype');
}

@font-face { font-family: Lalezar;
    src: url('../font/lalezar/Lalezar-Regular.eot') format('eot'),
    url('../font/lalezar/Lalezar-Regular.woff') format('woff'),
    url('../font/lalezar/Lalezar-Regular.ttf') format('truetype');
}

body {
	background-color: #EEE;
}

.post-container img {
	max-width: 90%;
	display: block;
	margin: 10px auto 5px;
	border-radius: 5px;
}

.row p {
	font-size: 18px;
	color: #5b5b5b;
}

p, .date, .pagination, #cover, #nav-up {
	font-family: Gandom, sans-serif;
}

blockquote {
	width: 100%;
	display: block;
	margin: 10px auto;
	text-align: center;	
}

blockquote p:before {
	font-family: FontAwesome;
	content: "\f10e";
	text-align: center;
	padding-left: 10px;
}

blockquote p {
    color: black;
    text-align: center;
    display: inline-block;
    background: #eee;
    border-radius: 10px;
    padding: 10px;
    color: rgba(0,0,0,0.7);
    font-family: Gandom, sans-serif;
    margin-bottom: 0px;
}

.date {
	color: #AEAEAE;
}

.date span {
	padding: 0 5px;
}

.post-title {
	font-weight: bolder;
	border-bottom: 1px dotted #0EAEDB;
	font-family: Lalezar, serif;
	margin-bottom: 5px;
}

.post-title a {
	text-decoration: none;
     	transition: all 300ms ease-in, all 300ms ease-out;
}

.post-container {
	background-color: white;
	padding: 30px;
	box-shadow: 5px 5px 3px #ddd;
	border-radius: 3px;
}

.button-primary {
	font-family: Lalezar, sans-serif;
}

#nav-up {
	background-color: #ddd;
	overflow: hidden;
	padding: 10px 10px;
	box-sizing: border-box;
}

#nav-up-left {
	display: inline-block;
	float: left;
	position: relative;
	top: 7px;
}

.category-nav {
	background: linear-gradient(to left, #16222a, #3a6073);
	overflow: hidden;
	margin-bottom: 20px;
	box-shadow: 3px 0px 3px #444;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 100;
}

.category-item {
	text-align: right;
	box-sizing: border-box;
}

.category-item a {
	color: white;
	padding: 15px;
	text-decoration: none;
     	transition: all 300ms ease-in, all 300ms ease-out;
}

.category-item a:hover {
	background-color: white;
	box-shadow: 3px 2px 4px #444;
	color: black;
	border-radius: 2px;
}

.category-name span {
	font-family: Lalezar, sans-serif;
	display: block;
	font-size: 45px;
	color: black;
	text-align: center;
	box-sizing: border-box;
	padding: 20px;
}

.category-name span i {
	display: block;
}

.nav-up-items {
	display: inline-block;
}

.nav-up-items a {
	text-decoration: none;
	padding: 10px;
     	transition: all 300ms ease-in, all 300ms ease-out;
}

.nav-up-items a:hover {
	background: linear-gradient(to left, #16222a, #3a6073);
	box-shadow: 3px 2px 4px #444;
	color: white;
	border-radius: 2px;
}

#cover {
	display: inline-block;
	float: right;
	padding: auto 10px;
}

#cover #site-title {
	display: inline-block;
	margin-left: 25px;
	font-size: 25px;
	font-family: Lalezar, sans-serif;
}

#cover #site-title a {
	text-decoration: none;
}

#cover #site-discription {
	display: inline-block;
}

#cover #site-title {
	display: inline-block;
	margin-left: 25px;
	font-size: 25px;
	font-family: Lalezar, sans-serif;
}

#cover #site-title i {
     	transition: all 300ms ease-in, all 300ms ease-out;
}

#cover #site-title a {
	text-decoration: none;
}

#cover #site-discription {
	display: inline-block;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}

.archive-post {

	padding: 5px 10px;
	background: linear-gradient(to left, #16222a, #3a6073);
	margin-bottom: 7px;
	border-radius: 3px;
	box-shadow: 3px 2px 4px #444;
}

.sidebar a {
	text-decoration: none;
	color: white;
}

footer {
	margin-top: 40px;
	width: 100%;
	background: linear-gradient(to left, #16222a, #3a6073);
	margin-bottom: 7px;
	position: absolute;
	left: 0;
	padding: 20px 10px 20px;
	box-sizing: border-box;
	box-shadow: -2px 2px 4px #ddd;
}

footer .row {
	text-align: center;
	font-family: Gandom, sans-serif;
}

footer .row .two {
	margin-left: 15px;
	margin-right: 10px;
	margin-bottom: 5px;
	color: white;
     	transition: all 300ms ease-in, all 300ms ease-out;
}

footer .row .two:hover {
	text-shadow: 0px 2px 4px #ddd;
}

footer .row i {
	font-size: 25px;
}

footer .row span {

}

#second {
	box-sizing: border-box;
	color: white;
	margin: 15px 70px;
	border-bottom: 0.1px dotted #666;
}

#second .feet {
	width: 40%;
	float: right;
	font-size: 18px;
	padding-right: 35px;
	box-sizing: border-box;
	padding-top: 15px;
	text-align: center;
}

#second .feet a {
	text-decoration: none;
	color: white;
     	transition: all 300ms ease-in, all 300ms ease-out;
}

#second .feet a:hover {
	text-shadow: 0px 2px 4px #ddd;
}

#second .feet i {
	color: red;
}

#second .fet {
	width: 55%;
	float: left;
}

#second .fet img {
	position: relative;
	width: 100px;
	top: 10px;
     	transition: all 300ms ease-in, all 300ms ease-out;
}

#second .fet img:hover {
	box-shadow: 0px 2px 4px #ddd;
}

@media only screen and ( max-width: 1077px ) {
	#second {
		margin-right: 5px;
		margin-left: 5px;
	}

	#second .feet {
		display: block;
		clear:both;
		width:100%;
		text-align: right;
		padding-bottom: 10px;
		border-bottom: 1px dotted #888;
	}

	#second .fet {
		display: block;
		clear: both;
		width:100%;
	}
}

@media only screen and ( max-width: 508px ) {
	#cover #site-discription {
		display: none;
	}

	.feed {
		display: none;
	}

	.category-nav {
		position: unset;
	}

	.category-item {
		display: block;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px dotted black;
	}

	.category-item a:hover {
		background: none;
		color: black;
		box-shadow: none;
	}
}

@media only screen and ( max-width: 469px ) {
	#cover #site-discription {
		display: none;
	}

}

@media only screen and ( max-width: 307px ) {
	#cover {
		display: block;
		text-align: center;
	}
	#nav-up-left {
		display: block;
		text-align: center;
	}
	display: inline-block;
	float: left;
	position: relative;
	top: 7px;
}

@media only screen and ( max-width: 880px ) {
	.category-item a i {
		display: none;	
	}
}
