---

---

<!DOCTYPE html>
<html dir=rtl lang="fa">

    <!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
    <!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
    <!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
    
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<link rel="stylesheet" type="text/css" href="/assets/style/normalize.css">
		<link rel="stylesheet" type="text/css" href="/assets/style/skeleton.css">
		<link rel="stylesheet" type="text/css" href="/assets/style/main.css">
		<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/css/gpgc_styles.css">
		  
		<link rel="shortcut icon" href="/assets/img/favicon.ico" >
		<title> {{ site.title }} </title>
		
		<script src="/assets/script/moment.min.js"></script>
		<script src="/assets/script/moment-jalali.js"></script>

	</head>
	<body>
		<nav id="nav-up" >
			<section id="nav-up-left">
				<div class="nav-up-items"><a href="{{ site.url }}/about">درباره من</a></div>
				<div class="nav-up-items"><a href="{{ site.url }}/contact-me">تماس با من</a></div>
				<div class="nav-up-items feed"><a href="{{ site.url }}/feed"><i class="fa fa-rss-square"></i></a></div>
			</section>
			<div id="cover">
				<section id="site-title"><a href="{{ site.url }}"><i class="fa fa-space-shuttle"></i>&nbsp;<span>میگیم</span></a></section>
				<section id="site-discription"><span>از دیدگاهی شاید متفاوت</span></section>
			</div>
		</nav>

		<div class="category-nav">
			<div class="container">
				<div class="row">
					<div class="three columns">
						<div class="category-item">
							<a href="/category/software.html">
							<i class="fa fa-sitemap"></i>	
							نرم‌افزار
							</a>
						</div>
					</div>
					<div class="two columns">
						<div class="category-item">
							<a href="/category/linux.html">
							<i class="fa fa-linux"></i>
							لینوکس
							</a>
						</div>
					</div>
					<div class="two columns">
						<div class="category-item">
							<a href="/category/photo.html">
							<i class="fa fa-camera-retro"></i>
							عکاسی
							</a>
						</div>
					</div>
					<div class="two columns">
						<div class="category-item">
							<a href="/category/film.html">
								<i class="fa fa-film"></i>
								فیلم
							</a>
						</div>
					</div>
					<div class="two columns">
						<div class="category-item">
							<a href="/category/personal.html">
								<i class="fa fa-book"></i>
							شخصی
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>



	<div class="container">
		<div class="row">
			<div class="column">
				<div class="category-name">	
					<span>
						<i class="fa fa-film"></i>
						فیلم
					</span>	
				</div>
				{% for post in site.categories.programming limit:35 %}
					<div class="sidebar">
						<a  href="{{ post.url }}"><div class="archive-post">{{ post.title }}<br>
						    <div class="date">
							    <span>
								<i class="fa fa-clock-o"></i>
								<script>
								    moment.loadPersian();
								    var date = moment('{{ post.date }}', 'YYYY-M-D').format('dddd jD jMMMM jYYYY');
								    document.write(date);

								</script>
							    </span>
						    </div>
						</div></a>
					</div>
				{% endfor %}
			</div>
		</div>
</div>				
	<footer>
			{% include footer.html %}
	</footer>
	</body>
    
</html>
