<!DOCTYPE html>
<html dir=rtl lang="fa">

    <!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
    <!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
    <!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
    
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include post.html %}
	</body>
	<footer id="footer">
		{% include footer.html %}
	</footer>

</html>

<!-- PersianStat --><!-- URL: http://migim.ir --><script language='javascript' type='text/javascript' src='http://www.persianstat.com/service/stat.js'></script><script language='javascript' type='text/javascript'>persianstat(10311570, 0);</script><!-- /PersianStat -->
